/* CSS */
table.primera, th.primera, td.primera {
    border: 2px dashed rgb(28, 83, 164);
    border-collapse: collapse;
    padding: 15px;
}

/* Estilo para la segunda tabla */
#consolas {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
#consolas td, #consolas th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#consolas th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#consolas tr.renglon1 td {
    color: black;
    background-color: #eaf2d3;
}

#consolas tr.renglon2 td {
    color: #000000;
    background-color: white;
}